.ui.label, .ui.button
    margin  .2em !important

body
    // background lightgrey !important
    // background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em

@media screen and (max-width: 1100px) 
    .overlay-text
        top 550px
    .overlay-text-subheader
        top 290px
    
.tester
    display inline-block
    height 100%
    vertical-align middle



@media screen and (max-width: 1100px) 
    .header-logo 
        // float none
        // margin-left 500px
        margin auto !important
        display block
        // width 50% !important
    
    .red-nav-bar
        margin-top 5px
        margin-bottom 5px
    .overlay-text
        top 250px
    .overlay-text-subheader
        top 270px



@media screen and (min-width: 1100px) 
    .header-logo 
        padding 0
        margin -36 !important
        position absolute
        top 0
        left 112px
        z-index 1030
        // width 80px
        // width: 100%
    .red-nav-bar
        margin-top 90px
        margin-bottom 5px
    .overlay-text
        top 200px
    .overlay-text-subheader
        top 220px
    .event-header
        bottom 0

.-autocomplete-container
    margin-top 12px

    
    
// .footer
//     background url("/img/bg-black-rpt.jpg") repeat-x scroll left top transparent
//     height auto
//     bottom 0
.map-container 
    // width 00px
    max-width 100%
    height 300px

.large-text
    font-size large
    line-height 140%

.center-aligned
    text-align center

.overlay-text
    color ghostwhite
    // font bold 32px/45px Helvetica, Sans-Serif
    // letter-spacing -1px
    background rgba(137,19,31, 0.85)
    padding 10px
    // position absolute
    // left 15px
    // width 100%
    font-size 2.5em !important
    font-weight 300 !important
    // width 500px

.header-wrapper
    // float left /* important */  
    position relative /* important(so we can absolutely position the description div */  



.event-header
    color ghostwhite
    // font bold 32px/45px Helvetica, Sans-Serif
    // letter-spacing -1px
    background rgba(137,19,31, 0.9)
    padding 30px
    position absolute
    // left 15px
    bottom 0px
    // font-family "Trebuchet MS", Helvetica, sans-serif
    // top 100%
    width 100%
    // width 500px


.homeslider-header
    color ghostwhite
    // font bold 32px/45px Helvetica, Sans-Serif
    // letter-spacing -1px
    background rgba(137,19,31, 0.9)
    padding 20px
    // position absolute
    // left 15px
    // bottom 0px
    // font-family "Trebuchet MS", Helvetica, sans-serif
    // top 100%
    // font-size 1500% !important
    // display block
    // width 50%
    // margin auto
    // width 500px
    // height 100px

.overlay-text-subheader
    color rgb(64, 64, 64)
    // font bold 32px/45px Helvetica, Sans-Serif
    // letter-spacing -1px
    background rgba(242, 242, 242, 0.7)
    padding 10px
    // margin-top 70px
    // left 50px
    // position absolute
    // width 100%
    // width 500px

.make-uppercase
    text-transform uppercase !important
    


.middle-align
    vertical-align middle !important



.banner-text
    left 0px
    font-size 225%
    
    
.impact-header
    border-top 3px solid #000
    border-bottom 3px solid #000
    font-family "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
    color #000
    text-transform uppercase
    font-style normal
    font-weight bold
    padding .4em 0

.call_to_action
    background: url("/img/bg-black-rpt.jpg") left top repeat-x !important
    text-color white !important

.impact-button-light
    margin-top 20px
    display block
    width 100%
    border 3px solid #000
    text-align center
    text-transform uppercase
    font-size 1.285714286em
    font-weight bold
    line-height 1.9em
    white-space nowrap
    border-color #fff
    color #fff
    background 0
    
.impact-button-dark
    margin 5px
    display block
    width 100%
    border 4px solid #000
    color #000
    text-align center
    text-transform uppercase
    font-size 1.2em
    font-weight bold
    line-height 1.9em
    white-space nowrap
    border-color #000
    color #000
    background 0
    
    
    
.slider-caption-header
    font-weight 300
    font-size 2.2em
    margin-top 0
    color #fff




.slider-caption-subheader
    font-family Georgia,"Times New Roman",Times,serif
    font-style italic
    font-size 1.5em
    color #fff
    line-height 1.3em