head
    title Watering Hole
    meta(name='google-site-verification', content='39IkAy9_2Kik_KYkTpSGnfcwQgFppiZ2QkaoRLoU_-g')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')



    // LayerSlider stylesheet
    link(rel='stylesheet', href='/layerslider/css/layerslider.css', type='text/css')
    // External libraries: GreenSock
    script(src='/layerslider/js/jquery.js', type='text/javascript')
    script(src='/layerslider/js/greensock.js', type='text/javascript')
    // LayerSlider script files
    script(src='/layerslider/js/layerslider.transitions.js', type='text/javascript')
    script(src='/layerslider/js/layerslider.kreaturamedia.jquery.js', type='text/javascript')


template(name='layout')
    +nav
    +Template.dynamic template=cloud
    +Template.dynamic template=main
    +footer


template(name="tag_result")
    .ui.basic.label #{name}
    