template(name='home')
    // .ui.container
    +slider
    .ui.hidden.divider
    .ui.container
        +features
        +plans
        +clients

template(name='features')
    .ui.horizontal.divider.header Features
    .ui.stackable.container.grid
        .eight.wide.column
            .ui.items
                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.users.icon
                    .content
                        .header Social Network
                        .description 
                            |Let your Members book the resources such as meeting room and projector. Coworkify calculates the charges and issues the invoice to each Member on behalf of you.

                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.checked.calendar.icon
                    .content
                        .header Check In
                        .description
                            |Check in system
        .eight.wide.column
            .ui.items
                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.users.icon
                    .content
                        .header Bulletin Board
                        .description 
                            |User submitted events, posts, announcements
                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.money.icon
                    .content
                        .header Member Plans
                        .description
                            | Collect member fees and % from transactions



template(name='plans')
    h2.ui.horizontal.header.divider Plans
    .ui.six.column.stackable.grid
        .column
            .ui.segment
                h3.header Tree
                h4 Free
                h4 Public
                h4 Public
                h4 Member Management
                h4 Member Management
                h4 Matchmaking
        .column
            .ui.segment
                h3.header Gazelle
                h4 $100/month
                h4 Member Management
        .column
            .ui.segment
                h3.header Giraffe
                h4 $200/month
                h4 Private
        .column
            .ui.segment
                h3.header Leopard
                h4 $300/month
                h4 Private
                h4 Bulletin Board
                h4 Transactions
        .column
            .ui.segment
                h3.header Rhino
                h4 $400/month
                h4 Private
                h4 Bulletin Board
                h4 Transactions
        .column
            .ui.segment
                h3.header Lion
                h4 $500/month
                h4 Private
                h4 Bulletin Board
                h4 Transactions
                
template(name='clients')
    .ui.horizontal.header.divider Clients
    .ui.card
        .header Impact Hub Boulder