#layerslider(style='width:1500px; height: 500px;')
    .ls-slide(data-ls='slidedelay: 3000;')
        img.ls-bg(src="{{c.url 'universe' effect='art:frost' width=1500 height=500 crop='fill' fetch_format= 'auto' }}", alt='Slide background' )
        // .ls-l.homeslider-header(style="top: 90%; height: 170px; left: 50%;" )
        //     a(href='/join')
                // h3.slider-caption-header Connection
                // p.slider-caption-subheader Check out our membership options.
