.field
    if featured
        #make_unfeatured.ui.basic.icon.button
            i.toggle.on.icon
    else
        #make_featured.ui.basic.icon.button
            i.toggle.off.icon
    if featured
        .ui.green.basic.label Featured
    else
        .ui.basic.label Unfeatured
