.field
    if reoccurring
        #make_unreoccurring.ui.basic.icon.button
            i.toggle.on.icon
    else
        #make_reoccurring.ui.basic.icon.button
            i.toggle.off.icon
    if reoccurring
        .ui.green.basic.label Reoccurring
    else
        .ui.basic.label Not Reoccurring
