template(name='admin_nav')
    .ui.container
        .ui.basic.padded.segment
            .ui.compact.four.item.stackable.menu
                // a.item(href="/admin/submissions" class="{{isActivePath '/admin/submissions'}}")
                //     i.comment.outline.icon
                //     |Contact Form Submissions
                a.item(href='/admin/users' class="{{isActivePath '/admin/users'}}")
                    i.users.icon
                    |User Management
                a.item(href='/admin/content' class="{{isActivePath '/admin/content'}}")
                    i.archive.icon
                    |Content Management