.ui.container
    // +submissions
    // +user_management
    #add_page.ui.basic.button
        i.plus.icon
        |Add Page
    .ui.centered.four.stackable.cards
        each docs
            +card_view


