.field
    label "Add to Calendar" Button Link (from Eventbrite click 'Add to Calendar', then 'Google Calendar', copy address)
    .ui.left.icon.input
        i.plus.icon
        input#add_to_calendar_link(type='text' value=add_to_calendar_link placeholder='http://www')
